$dark-gray: #3d464d;

body {
   
   padding: 0px;
  }

.uk-grid {
    margin: 0 auto;
}
canvas {
  
}
#pallete {
    list-style: none;
    margin: 0;
    li{
        clear: both;
        span {
            float: left;
            width: 60px;
            height: 20px
        }
    }
}