body {
  padding: 0px; }

.uk-grid {
  margin: 0 auto; }

#pallete {
  list-style: none;
  margin: 0; }
  #pallete li {
    clear: both; }
    #pallete li span {
      float: left;
      width: 60px;
      height: 20px; }
